#Assignment 1
###Task 1: Create a pandas dataframe (DataFrame name as 'df') (10 observation and 5 features)
###Task 2: Check the info of 'df'
###Task 3: Check the descriptive statistics of 'df'
###Task 4: check the 4th index observation with 'loc' slicing operator.
###Task 5: Check the null values in your 'df'

Task1: Creating a pandas dataframe

In [ ]:
import pandas as p
import numpy as np

In [ ]:
d = {
    'name': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'],
    'age': [19, 22, np.nan, 18, 19, 20, 18, 19, 17, 19],
    'gender': ['M', 'F', 'M', 'M', 'F', 'F', np.nan, 'F', 'M', 'M'],
    'salary': [65000, 45000, 78000, 68000, 56000, 50000, 40000, 70000, 80000, 90000],
    'emp_id': ['e1', 'e2', 'e3', 'e4', 'e5', 'e6', 'e7', 'e8', 'e9', 'e10']
}
d

{'name': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'],
 'age': [19, 22, nan, 18, 19, 20, 18, 19, 17, 19],
 'gender': ['M', 'F', 'M', 'M', 'F', 'F', nan, 'F', 'M', 'M'],
 'salary': [65000,
  45000,
  78000,
  68000,
  56000,
  50000,
  40000,
  70000,
  80000,
  90000],
 'emp_id': ['e1', 'e2', 'e3', 'e4', 'e5', 'e6', 'e7', 'e8', 'e9', 'e10']}

In [ ]:
df = pd.DataFrame(d)
df

  name   age gender  salary emp_id
0    A  19.0      M   65000     e1
1    B  22.0      F   45000     e2
2    C   NaN      M   78000     e3
3    D  18.0      M   68000     e4
4    E  19.0      F   56000     e5
5    F  20.0      F   50000     e6
6    G  18.0    NaN   40000     e7
7    H  19.0      F   70000     e8
8    I  17.0      M   80000     e9
9    J  19.0      M   90000    e10

Task2: Checking info

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    10 non-null     object
 1   age     9 non-null      float64
 2   gender  9 non-null      object
 3   salary  10 non-null     int64
 4   emp_id  10 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 528.0+ bytes

Task 3: Check the descriptive statistics

In [ ]:
df.describe()

             age        salary
count   9.000000     10.000000
mean   19.000000  64200.000000
std     1.414214  16253.546622
min    17.000000  40000.000000
25%    18.000000  51500.000000
50%    19.000000  66500.000000
75%    19.000000  76000.000000
max    22.000000  90000.000000

Task 4: Check the 4th index observation with 'loc' slicing operator

In [ ]:
df.loc[4]

name          E
age        19.0
gender        F
salary    56000
emp_id       e5
Name: 4, dtype: object

Task 5: Check the null values in your 'df'

In [ ]:
df.isnull().any()

name      False
age        True
gender     True
salary    False
emp_id    False
dtype: bool

In [ ]:
df.isnull().sum()

name      0
age       1
gender    1
salary    0
emp_id    0
dtype: int64